[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
python-dotenv = "*"
sqlalchemy = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
